In [64]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
import re
import pandas as pd
from nltk.stem import WordNetLemmatizer

In [65]:
df = pd.read_csv('text_data.csv', encoding="latin")
df.head(3)

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire

In [66]:
df.columns = ['sentiment','ID','date&time','random','username','message']

In [67]:
df.head(5)
df = df.drop(['ID','date&time','random','username'], axis=1)

In [68]:
# df.to_csv("cleaned_text_data.csv", index = False)
print("working")

working

In [69]:
sentiment_change_output = {0:"Negative", 1:"Positive"}

def sentiment_change(x):
    try:
        value = sentiment_change_output[x]
        return value
    
    except Exception:
        return "Unknown"

df['sentiment'] = df['sentiment'].apply(lambda x: sentiment_change(x))

In [70]:
df.head(5)

  sentiment                                            message
0  Negative  is upset that he can't update his Facebook by ...
1  Negative  @Kenichan I dived many times for the ball. Man...
2  Negative    my whole body feels itchy and like its on fire
3  Negative  @nationwideclass no, it's not behaving at all....
4  Negative                      @Kwesidei not the whole crew

In [71]:
nltk.download('stopwords')
nltk.download('wordnet')
stop_words = stopwords.words('english')
stemmer = SnowballStemmer('english')
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package stopwords to /home/aryn/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package wordnet to /home/aryn/nltk_data...
[nltk_data]   Package wordnet is already up-to-date!

In [72]:
text_cleaning_re = "@\S+|https?:\S+|http?:\S|[^A-Za-z0-9]+"

In [73]:
def textcleaning(text, stem=False):
    tokens = []
    text = text.lower()
    text = re.sub(text_cleaning_re, ' ', str(text).lower()).strip()
    
    for token in text.split():
        if token not in stop_words:
            if stem:
                tokens.append(stemmer.stem(token))
            if lemmatizer:
                tokens.append(lemmatizer.lemmatize(token))
            else:
                tokens.append(token)
                
                
    return " ".join(tokens)
                
print(textcleaning("I dont like this place anymore and I want to go somewhere else"))

dont like place anymore want go somewhere else

In [74]:
df['message'] = df['message'].apply(lambda x: textcleaning(x))

In [ ]:
df.to_csv("cleaned_text_data.csv", index = False)