In [1]:
import nltk
from nltk.corpus import stopwords
from nltk.stem import SnowballStemmer
import re
import pandas as pd
from nltk.stem import WordNetLemmatizer

/tmp/ipykernel_11221/3879439206.py:5: DeprecationWarning:
Pyarrow will become a required dependency of pandas in the next major release of pandas (pandas 3.0),
(to allow more performant data types, such as the Arrow string type, and better interoperability with other libraries)
but was not found to be installed on your system.
If this would cause problems for you,
please provide us feedback at https://github.com/pandas-dev/pandas/issues/54466

  import pandas as pd

In [2]:
df = pd.read_csv('test_data.csv', encoding="latin")
df.head(10)

,0,1467810369,Mon Apr 06 22:19:45 PDT 2009,NO_QUERY,_TheSpecialOne_,"@switchfoot http://twitpic.com/2y1zl - Awww, that's a bummer. You shoulda got David Carr of Third Day to do it. ;D"
0,0,1467810672,Mon Apr 06 22:19:49 PDT 2009,NO_QUERY,scotthamilton,is upset that he can't update his Facebook by ...
1,0,1467810917,Mon Apr 06 22:19:53 PDT 2009,NO_QUERY,mattycus,@Kenichan I dived many times for the ball. Man...
2,0,1467811184,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,ElleCTF,my whole body feels itchy and like its on fire
3,0,1467811193,Mon Apr 06 22:19:57 PDT 2009,NO_QUERY,Karoli,"@nationwideclass no, it's not behaving at all...."
4,0,1467811372,Mon Apr 06 22:20:00 PDT 2009,NO_QUERY,joy_wolf,@Kwesidei not the whole crew
5,0,1467811592,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,mybirch,Need a hug
6,0,1467811594,Mon Apr 06 22:20:03 PDT 2009,NO_QUERY,coZZ,@LOLTrish hey long time no see! Yes.. Rains a...
7,0,1467811795,Mon Apr 06 22:20:05 PDT 2009,NO_QUERY,2Hood4Hollywood,@Tatiana_K nope they didn't have it
8,0,1467812025,Mon Apr 06 22:20:09 PDT 2009,NO_QUERY,mimismo,@twittera que me muera ?
9,0,1467812416,Mon Apr 06 22:20:16 PDT 2009,NO_QUERY,erinx3leannexo,spring break in plain city... it's snowing

In [3]:
df.columns = ['sentiment','ID','date&time','random','username','message']

In [4]:
df.head(10)
df = df.drop(['ID','date&time','random','username'], axis=1)

In [5]:
# df.to_csv("cleaned_text_data.csv", index = False)
print("working")

working

In [6]:
sentiment_change_output = {0:"Negative", 4:"Positive"}

def sentiment_change(x):
    try:
        value = sentiment_change_output[x]
        return value
    
    except Exception:
        return "calm"

df['sentiment'] = df['sentiment'].apply(lambda x: sentiment_change(x))

In [7]:
df.head(10)

  sentiment                                            message
0  Negative  is upset that he can't update his Facebook by ...
1  Negative  @Kenichan I dived many times for the ball. Man...
2  Negative    my whole body feels itchy and like its on fire
3  Negative  @nationwideclass no, it's not behaving at all....
4  Negative                      @Kwesidei not the whole crew
5  Negative                                        Need a hug
6  Negative  @LOLTrish hey  long time no see! Yes.. Rains a...
7  Negative               @Tatiana_K nope they didn't have it
8  Negative                          @twittera que me muera ?
9  Negative        spring break in plain city... it's snowing

In [8]:
nltk.download('stopwords')
nltk.download('wordnet')
stop_words = stopwords.words('english')
stemmer = SnowballStemmer('english')
lemmatizer = WordNetLemmatizer()

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.
[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\DELL\AppData\Roaming\nltk_data...

In [9]:
text_cleaning_re = r"@\s+|https?:\s+|http?:\s|[^A-Za-z0-9]+"

In [14]:
def textcleaning(text, stem=False):
    tokens = []
    text = re.sub(text_cleaning_re, ' ', str(text)).strip()
    
    for token in text.split():
        if token not in stop_words:
            if stem:
                tokens.append(stemmer.stem(token))
            if lemmatizer:
                tokens.append(lemmatizer.lemmatize(token))
            else:
                tokens.append(token)
                
                
    return " ".join(tokens)
                
print(textcleaning("I dont like this place anymore and I want to go somewhere else"))

I dont like place anymore I want go somewhere else

In [15]:
df['message'] = df['message'].apply(lambda x: textcleaning(x))

In [16]:
df.to_csv("cleaned_text_data.csv", index = False)
df.head()

  sentiment                                            message
0  Negative  upset update facebook texting might cry result...
1  Negative  dived many time ball managed save 50 rest go b...
2  Negative                    whole body feel itchy like fire
3  Negative                                   behaving mad see
4  Negative                                         whole crew